.form{
    font-family: sans-serif;
    font-size: 16px;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.formItem{
    display: flex;
    flex-direction: column;
}

.formItem > * {
    align-self: flex-start;
}

.formInput {
    -webkit-appearance: none;

    width: 100%;
    max-width: 425px;
    padding: 0.8em;
    font-size: 0.9em;

    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
}

/* .formInputError {
    color: #d50000 ;
    background: #fff8f8;
    border-color: #d50000;
} */

/* .formInputError::placeholder {
    color: #ffbfbf;
} */

.formError {
    padding-top: 10px;
    color: #d50000;
    font-size: 0.9em;
}

/* dashboard */
/* .first{
    height: 60px;
} */

.circle{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 29px;
     height:29px;
}

#navbarSupportedContent {
    /* margin-right: end; */
    /* justify-content: left; */
    /* justify-items: right; */
    /* justify-self: right; */
    /* align-items: right; */
    position:absolute;
     left:60em;
     /* float: right */
} 

.freedy{
    font-weight: bold;
}
.small-section{
    background-color: white;
    height: 30em;

}
.x{
    width: 100em;
}

.small-ul{
    list-style-type: none;
}
.small-ul li{
    margin-top: 30px;
    cursor: pointer;
    align-content: center;
}

.card{
    position: absolute;
    width: 40em;
    right: -35em;
    top: -25em;
    background-color:#bd9797 !important;
}

.funDay{
    /* display: none; */
}

