/* SignUp form */
.form{
    /* position: absolute;
    left: 42%;
    top: 20%; */
    margin-top: 13%;
    margin-left: 35%;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.5;
}

body{
    /* background-color: #EAEAEA; */
}

.formItem{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.formInput {
    -webkit-appearance: none;

     width: 100%;
    max-width: 325px;
    padding: 0.8em;
    font-size: 0.9em;

    border: 1px solid #ddd;
    border-radius: 4px;
    /* background: #f9f9f9; */
}

.formError {
    padding-top: 10px;
    color: #d50000;
    font-size: 0.9em;
}

.formTitle {
    margin-left: 7em;
    /* text-align: center; */
}

.register {
/* background-color: #3C91E6;
color: white; */
}

.register, .login{
    background-color: #2F323A;
    color: white;
}

.register:hover, .login:hover {
    background-color: #3C91E6;
color: white;
}

.form-body {
    
}

/* DAshboard */

/* Navbar */
.navDiv {
    background:#222428;
    color: white !important;
}

#navbarSupportedContent {
    position:absolute;
     left:60em;
} 

.navbar{
    height: 100px;
}

/* Sidebar */

.sidebar-col{
    background-color: #2F323A;
    height: 30em;
    color: white;

}

.sidebar-row{
    width: 100em;
    margin-top: 1px;
}

.sidebar-name{
    text-align: center;
    font-weight: bold;
}

.sidebar-ul{
    list-style-type: none;
}
.sidebar li{
    margin-top: 30px;
    cursor: pointer;
    align-content: center;
}


/* Schedule display */
.cardDiv{
    position: absolute;
    width: 40em;
    right: -31em;
    top: -25em;
    background-color:#D8DADE !important;
}

.day1{
    position: absolute;
    background-color:#D8DADE !important;
    width: 40em;
    right: -25em;
    top: -35em;
    margin-top: 50px;
 }

.btn {
    background-color: transparent;
    color: white;;
}

.btn:hover {
    /* background-color: #70CAC5; */
    background-color: #3C91E6;
    color: white;
    text-align:start;
}

.line{
    background-color: white;
}

.btnBig {
    color: black;
    border-color: black !important;
    border-style: solid !important;
}

.dropdown-menu{
    background-color: #D8DADE !important;
}

.fa-trash {
    color: black;
}
